
.app{
    width: 315px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #eeee;
    min-height: 100vh;
}

.brand{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
}

.nav{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
}



.nav-tem {
    display: inline-block;
    flex: 1 auto;
    text-align: center;
    text-decoration: none;
    color: blueviolet;
    padding: 14px 0;
    font-size: 14px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.nav-tem:not(last-child){
    border-right: 1px solid #eee;
}

.nav-tem:hover{
    color: violet;
}

.section {
    padding: 30px;

}

.section-title{
    margin-top: 0;
}

.section-desc {
    line-height: 26px;
}

.artikels{
    border-top: 1px solid #eee;
}

.artikel{
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.artikel-title{
    margin-top: 0;
}

.artikel-title a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.artikel-title a:hover{
    color: violet;
}

.artikel-time{
    color: #999;
    font-size: 12px
}

.artikel-img{
    max-width: 100%;
}

.artikel-sumber{
    font-size: 14px;
    
}

.artikel-sumber a{
    text-decoration: none;
    font-style: italic;
    color: brown;
}

.artikel-sumber a:hover{
    color: rgb(207, 56, 56);
}