
.app{
    width: 315px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #eeee;
    min-height: 100vh;
}

.brand{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
}

.nav{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
}



.nav-tem {
    display: inline-block;
    width: calc(100% / 4);
}